

body {
    text-align: center;
}

#title {
    background-color: #ff4c68;
    color: #fff;
    text-shadow: 2px 2px 8px #221e1e;
}

.title-description .nav-bar-logo {
    text-align: left;

}

.container-fluid {
    padding: 3% 6.5% 20%;
    padding-bottom: 100px;

}

h1 {
    font-family: "Montserrat";
    size: 3.5rem;
    line-height: 1.5;  

}



/* navigation Bar */

.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 1rem;

}



.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: "Montserrat-light";
    color: rgb(233, 223, 223);
    text-shadow: 2px 2px 8px #221e1e;
}

/* download button */

.download-button {
    margin: 5% 3% 5% 0%;
}

/* title image */

.title-image {
    width: 30%;
    transform: rotate(25deg);
    position:sticky;
    left: 1300px;
    top: 250px;
    
}

/* features */


.container-goal {

    padding: 7% 15%;
    
}

#features {
    padding: 7% 15%;
    background-color: #fff;
    position: relative;
    
}


.goal {
    padding: 40px;
}

.title-goal {
    font-family: "Montserrat";
    text-decoration: bold;
    font-size: 1.5rem;
}

.feature-description {
    color: #8f8f8f;
}

/* Awsome-font */

.awsome-feature {
    width: 15%;
    color: #ef8172;
    cursor: pointer;
    font-family: none;
    margin-bottom: 1rem;
}

.awsome-feature:hover {
    color: #ff4c68;
}


/* Testimonial section */

#testimonials {
   
    background-color: #ff4c68;
    color: #fff
    
}

.carousel-item {
    padding: 7% 15% ;

}

.testimonial-description {
    font-family: "Montserrat";
    font-size: 2.5rem;
    line-height: 1.5;

}

.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

/* Press section */

#press {
    background-color: #ff4c68;
    padding-bottom: 3%; 

}

.press-logos {
   width: 15%;
   margin: 20px 20px 50px 50px;
}

/* Pricing section */

.container-pricing {
    max-width: 1320px;
    margin: 10 20;
 }
 

 #pricing {
    padding: 100px;
 }

 .pricing-column {
    padding: 3% 2%;
 }


 @media  (max-width: 1028px) {
    .title-image {
        position: static;
        transform: rotate(0);
        width: 50%;
    }
 }

 /* call to action section */

 #cta {
    background-color: #ff4c68;
 }

 .call-to-action-statement {
    font-family: "Montserrat";
    padding: 70px;
    color: #fff;
    font-size: 3rem;

 }

 /* footer section */

 #footer {
    padding: 20px;

 }

 .footer-social-media {
    padding: 10px;
 }

 .social-media-logo {
    padding: 20px;
 }